article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/* BASE STYLES */

html {
	font-family: 'Noto Sans TC', sans-serif;
  font-size: 62.5%;
  max-width: 1400px;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
	text-transform: uppercase;
	color: black;
}

main p {
  color: #909090;
}

.main-wrapper {
  max-width: 1200px;
  width: 95%;
  margin: 0 auto;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid #EEEEEE;
  color: #808080;
  margin: 10px 0;
  padding: 5px;
  background-image: url(../assets/angle-down-solid.svg);
  background-repeat: no-repeat;
  background-position: 95%;
  background-size: 0.8rem;
  border-radius: 4px;
}

.header-hero, .statistics {
  margin: 0 5px;
}

.page-numbers p, .statistics, .form form {
  background-color:#F8F8F8;
}

.page-numbers p:hover {
  background-color: #E8E8E8;
}

.display-options i, .vehicle, .post {
  border: 1px solid #EEEEEE;
}

.vehicle, .post {
  border-radius: 5px;
  box-shadow: 2px 2px 5px #EEEEEE;
}

.form-column input, .submit {
  background-color: #E63946;
  padding: 6px;
  border: none;
  color: white;
  text-transform: uppercase;
  transition: 0.2s ease-in-out;
}

.form-column input:hover, .submit:hover {
  background-color: white;
  color: #E63946;
}


/* HEADER STYLES */

  /* header navigation */

.header-nav, .navigation, .navigation ul {
  display: flex;
}

.header-nav {
  justify-content: space-between;
}

.header-nav a, .header-nav, .header-nav button, .header-nav input {
  color: white;
}

.header-nav button, .header-nav input, .header-nav, .footer-top {
  background-color: #333333;
  border: none;
}

.header-nav h1 {
  margin: 10px 20px;
  text-transform: uppercase;
  font-size: 2.4rem;
}

.header-nav nav, .navigation ul {
  justify-content: space-between;
} 

.navigation {
  width: 40%;
}

.navigation ul {
  width: 60%;
  align-items: center;
}

.header-nav a {
  font-size: 1rem;
  font-weight: 700;
  transition: 0.2s ease-in-out;
}

.header-nav a:hover {
  border-bottom: 3px solid white;
}

.header-nav input {
  text-align: center;
  color: white;
  border-left: 1px solid grey;
}

.header-nav input::placeholder {
  color: white;
}
.header-nav input::-webkit-input-placeholder {
  color: white;
  opacity: 1;
}
.header-nav input:-moz-placeholder {
  color: white;
  opacity: 1;
}
.header-nav input::-moz-placeholder {
  color: white;
  opacity: 1;
}

/* header hero image */

.header-hero img {
  max-width: 100%;
}

/* hamburger menu styles */

#nav-icon1 {
  width: 40px;
  height: 40px;
  position: relative;
  margin-left: 10px;
  margin-bottom: 10px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  z-index: 3;
}

#nav-icon1 span {
  display: block;
  z-index: 3;
  position: absolute;
  height: 4px;
  width: 100%;
  background-color: #E63946;
  border-radius: 9px;
  opacity: 1;
  left: 5px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon1 span:nth-child(1) {
  top: 15px;
}

#nav-icon1 span:nth-child(2) {
  top: 25px;
}

#nav-icon1 span:nth-child(3) {
  top: 35px;
}

#nav-icon1.open span:nth-child(1) {
  top: 35px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#nav-icon1.open span:nth-child(2) {
  opacity: 0;
}

#nav-icon1.open span:nth-child(3) {
  top: 35px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.hamburger {
  display: none;
}

.show.navigation {
  display: block;
  width: 100%;
}


/* MAIN SECTION STYLES */

.form form, .form-column, .display-options, .vehicle-results, .car-specs, .page-numbers, .statistics, .blog-posts, .blogger, .email-subscribe {
  display: flex;
}

.vehicle img, .post-image img {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

  /* search form */

.form {
  margin-top: 50px;
}

.form select {
  width: 100%;
  background-color: #fff;
}

.form select, .display-options i, .display-options select {
  transition: 0.2s ease-in-out;
}

.form select:hover, .display-options i:hover, .display-options select:hover {
  background-color: #E8E8E8;
}

.form form {
  justify-content: space-around;
}

.form-column {
  width: 48%;
  flex-direction: column;
  margin: 10px 0;
}

.form-column input {
  margin: 10px 0;
  border-radius: 4px;
}

.form-column .column-one {
  margin-left: 2%;
  margin-right: 1%;
}

.form-column .column-two {
  margin-right: 2%;
  margin-left: 1%;
}


  /* vehicle results */

.display-options {
  justify-content: flex-end;
  align-items: center;
}

.display-options i {
  margin-right: 10px;
  border-radius: 4px;
  padding: 11px;
  font-size: 1.4rem;
  color: #808080;
}

.display-options select {
  padding: 10px 20px;
}

.vehicle-results {
  justify-content: space-between;
  flex-wrap: wrap;
}

.vehicle {
  width: 32%;
  margin: 1% 0;
  border-radius: 4px;
  transition: 0.5s;
}

.vehicle:hover, .post:hover {
  transform: scale(1.02);
}

.vehicle-info {
  padding: 10px 15px;
}

.vehicle-info h3 {
  font-size: 1.6rem;
  font-weight: 400;
}

.vehicle img {
  max-width: 100%;
}

.info {
  margin-left: 10px;
}

.info p {
  margin: 0;
  font-size: 1.2rem;
}

.info p, .car-specs i {
  margin-bottom: 10px;
  color: #909090;
}

.car-specs i {
  display: block;
  font-size: 1.8rem;
  text-align: center;
}

.page-numbers {
  justify-content: center;
  margin-top: 10px;
}

.page-numbers p {
  margin: 5px;
  padding: 10px 15px;
}


/* statistics section */

.statistics {
  padding: 50px;
  margin-top: 50px;
}

.stat {
  width: 25%;
  text-align: center;
}

.stat h3 {
  font-size: 2.6rem;
  font-weight: 700;
  margin: 0;
}

.stat p {
  font-size: 1.4rem;
  margin: 0;
}


/* car news and blog section */

.car-news {
  margin-top: 75px;
  text-align: center;
}

.car-news h2, .post-content {
  text-align: center;
}

.car-news h2 {
  font-size: 2rem;
}

.blog-posts {
  justify-content: center;
  margin-top: 40px;
}

.post {
  width: 25%;
  margin: 10px;
  transition: 0.5s ease-in-out;
}

.post-image img {
  max-width: 100%;
}

.post-content {
  padding: 20px;
}

.post-content p {
  font-size: 1.2rem;
  line-height: 2;
  letter-spacing: 0.4px;
}

.post-content h4 {
  font-size: 1.4rem;
  font-weight: 700;
}

.blogger {
  border-top: 1px solid #EEEEEE;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.blogger img {
  max-width: 20%;
  border-radius: 50%;
  margin-right: 10px;
}

.blogger p {
  font-weight: 700;
  font-size: 1.2rem;
}

.car-news button {
  padding: 10px 25px;
  border: 2px solid #E63946;
  border-radius: 4px;
  color:#E63946;
  background-color: white;
  text-transform: uppercase;
  font-weight: 700;
  margin: 40px 0;
  letter-spacing: 0.4px;
}

.car-news button:hover {
  background-color: #E63946;
  color: white;
}


/* FOOTER STYLES */

footer {
  margin-top: 60px;
}

.footer-top, .hours {
  display: flex;
}

.footer-top, .footer-bottom {
  padding: 20px;
}

footer p, footer li {
  font-size: 1.2rem;
}

footer h3 {
  font-weight: 700;
  font-size: 1.6rem;
}

/* top portion of the footer */

.footer-top {
  color: white;
  justify-content: space-between;
}

.contact-info, .opening-hours, .subscribe {
  width: 31%;
}

/* contact info section*/

.contact-info p {
  margin: 5px 0;
}

.social-icons {
  margin-top: 40px;
}

.social-icons a {
  background-color: #484848;
  padding: 15px;
  font-size: 1.4rem;
  margin-right: 2px;
  color: white
}

address {
  font-style: normal;
}

/* opening hours section */

.hours {
  justify-content: space-between;
}

footer li {
  margin: 15px 0;
}

/* subscribe section */

.email, .submit {
  padding: 10px;
  margin: 0;
}

.email {
  width: 75%;
  border: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.submit {
  width: 25%;
  font-weight: 700;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border: 3px solid #E63946;
}


/* bottom portion of the footer */

.footer-bottom {
  background-color: #2b2b2b;
}

.footer-bottom p {
  margin: 0;
  color: #808080;
}




/* MEDIA QUERIES */

@media (max-width: 1050px){
  .navigation {
    width: 60%;
  }
}

@media (max-width: 1000px) {
  .email-subscribe {
    flex-direction: column;
  }

  .email, .submit {
    border-radius: 0;
    width: 100%;
  }

  .submit {
    border: 3px solid #E63946;
  }

  .post {
    width: 30%;
  }
}

@media (max-width: 800px) {
  .vehicle {
    width: 48%;
  }

  .post {
    width: 40%;
  }
}

@media (max-width: 750px) {
  .footer-top {
    flex-direction: column;
  }

  .contact-info, .opening-hours, .subscribe {
    width: 50%;
    margin: 10px 0;
  }
}

@media (max-width: 700px) {
  .hamburger {
    display: block;
  }

  .header-nav h1 {
    display: none;
  }

  .navigation {
    display: none;
    position: absolute;
    flex-direction: column;
    background-color: #333333;
    opacity: 0.95;
    top: 0;
    left: 0;
    z-index: 2;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .navigation ul {
    flex-direction: column;
    margin-top: 50px;
    width: 100%;
    align-items: flex-start;
  }

  .navigation li {
    margin: 30px;
    width: 25%;
    transition: 0.5s;
  }

  .navigation a {
    font-size: 1.6rem;
  }

  .navigation input, .navigation button {
    display: block;
    text-align: left;
    margin: 30px;
    font-size: 1.2rem;
  }

  .navigation input {
    border: none;
  }
  
}

@media (max-width: 650px) {

  .statistics {
    padding: 30px;
  }
  
  .stat h3 {
    font-size: 2.2rem;
  }
  
  .stat p {
    font-size: 1rem;
  }

  .post-content h4 {
    font-size: 1.2rem;
  }

  .post:hover, .vehicle:hover {
    transform: scale(1);
  }
}

@media (max-width: 550px) {
  .post {
    width: 50%;
  }
}

@media (max-width: 500px) {

  .header-hero {
    margin: 0;
  }

  .header-hero img {
    height: 150px;
  }

  .vehicle-results {
    flex-direction: column;
    align-items: center;
  }
  
  .vehicle, .post {
    width: 80%;
  }

  .blog-posts {
    flex-direction: column;
    align-items: center;
  }

  .contact-info, .opening-hours, .subscribe {
    width: 75%;
  }
}

@media (max-width: 450px) {
  .form form {
    flex-direction: column;
  }

  .form-column {
    width: 90%;
    margin: 0 auto;
  }

  .statistics {
    flex-direction: column;
    width: 80%;
    align-items: center;
    margin: 50px auto;
  }

  .stat {
    width: 100%;
    margin: 10px 0;
  }
}



